*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{background-color: rgb(224, 67, 10)
}
#one{
    margin-top: 10px;
    margin: 20px;
    padding: 10px;
}
#one1 p{
    margin-top: 20px;
}
#one1 img{
    border-left: solid black 3px;
    margin-right: 20px;
    margin-top: 10px;
}
#one1{border-radius: 20px;
  
}
#lastp{
    font-weight: bolder;
}
